/*  background: linear-gradient(to right bottom ,rgba(27, 94, 31, 0.568),rgba(76, 175, 79, 0.445)), url("../img/img.jpg"); */
*{
    margin: 0;
    padding: 0;
}
body{
   
}
.headList{
    display: flex;
    padding:20px;
    border-bottom: 1px solid #b3b3b3;
    box-shadow: 5px 5px 5px #b3b3b3b3;
}
.headList li{
    list-style: none;
 
}
.headList li:nth-of-type(1){
color: crimson;
font-family: 'Lobster', cursive;
font-size:30px;
margin:0 auto;
}
.sign,.login{
    float: right;
}
.container{
    column-width: 260px;
   column-gap: 20px;
   font-family: 'Roboto', sans-serif; 
   margin:10px; 
}
img{
    width: 100%;
    display: block;
}
.card{
   border:1px solid #b3b3b3b3;
   box-shadow: 2px 2px 5px #b3b3b3;
    /* Makes the card display from top to bottom not left to right*/
    break-inside: avoid;
    page-break-inside: avoid;
    margin-bottom: 20px;
    padding:2px;
    
}
.readMore{
    background-color: crimson;
    padding:5px;
    color:white;
    border-radius: 100px;
    display: block;
    text-align: center;
    margin:50px;
}